<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- <div class="wrapper"> -->
    <!-- <div class="container"> -->
      <div class="row no-padding" id="users-page" >
          <div class="col-xs-6 no-padding" >
            <div class="box box-primary direct-chat direct-chat-primary">
              <div class="box-header with-border">
                <h3 class="box-title">User List</h3>
                    <div class="btn-group pull-right no-padding"> 
                      <form (ngSubmit)="refreshList()">
              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Refresh </button>
                      </div>
                      </form>
                    </div>
              </div>
              <!-- /.box-header -->

              <div #scrollTable class="box-body no-padding" *ngIf="notSearch; else searchPage">
                <table class="table">
                  <thead>
                  <tr>
                    <!-- <th style="display:none;">ID</th> -->
                    <th>Phone/ID</th>
                    <th>Name</th>
                    <th>Updated</th>
                    <!-- <th>Delete</th> -->
                    <th>View</th>
                  </tr>
                </thead>
                <tbody id="table-body">
                  <tr *ngFor="let viewUser of userDetail">
                  <!-- <td style="display:none;" name="opRequestId">{{op._id}}</td> -->  
                  <td>{{viewUser.phone_number}}</td>
      			      <td>{{viewUser.nickname }}</td>
                  <td>{{viewUser.updated_at | date: 'medium'}}</td>
 <!--                  <td>
                    <button type="button" class="btn btn-danger btn-xs" id="delete-user" (click)="deleteUser(viewUser)">Delete</button> 
                   
                  </td> -->
                  <td>
					          <button type="button" class="btn btn-primary btn-xs" id="view-user" (click)="clickedView(viewUser)">View</button> 
                   
                  </td>
                  </tr>
                </tbody>
                  <!-- </div> -->
                </table>
              </div>
              <!-- /.box-body -->
<!--               <ng-template #searchPage>
                <div class="box-body no-padding">
                <table class="table">
                  <thead>
                    <tr>
                    <th>Phone/ID</th>
                    <th>Name</th>
                    <th>Updated</th>
                    <th>Action</th>
                    </tr>
                  </thead>
                <tbody id="table-body">
                  <tr *ngFor="let searchUser of userDetail">
                  <td>{{searchUser.phone_number}}</td>
                  <td>{{searchUser.nickname }}</td>
                  <td>{{searchUser.id}}</td>
                  <td>        
                      <button type="button" class="btn btn-primary btn-xs" id="copy-info" (click)="clickedCopy(searchUser)">Copy</button>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </ng-template> -->

            </div>
            <!-- /.box -->
		      </div>
      	<!-- /.row -->          

          <!-- Place chat box here -->
          <div class="row no-padding" id="users-page">
          	<app-user-detail></app-user-detail>
          	
          </div>

      <!-- </div> -->
    </div>
  <!-- </div> -->
</div>
