<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- <div class="wrapper"> -->
    <!-- <div class="container"> -->
      <!-- <div class="row no-padding" > -->
          <!-- <div class="col-xs-6 no-padding" > -->
            <div class="box box-primary direct-chat direct-chat-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Command List</h3>
                    <div class="btn-group pull-right no-padding"> 
 <!--                      <form (ngSubmit)="refreshList()">
              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Refresh </button>
                      </div>
                      </form> -->
                    </div>
              </div>
              <!-- /.box-header -->

              <div id="page-content" class="box-body">
              	<!-- <h4> Value-added service Commands </h4> -->
              	<h4><u>Tips in talking to Mr. Chat </u></h4>
                <p>You can use either English or Chinese to ask your questions</p>
                <p>If Mr. Chat cannot understand your question twice, Mr. Chat will divert you to human agent</p>
                <p>Or you can choose to type “human” or “operator” to ask Mr. Chat to divert you to a human agent</p>
                <p>In either case, Mr. Chat will inform you about the status of human agent – either queuing for service or unavailable. In case of queuing, you will be place in work queue to wait for human agent to pick up the call, updated queue status will be sent to you or you can type <strong>quit</strong> to go back to talk to Mr. Chat.</p>
                <p>You can talk to human agent via text / emoji or you can send image (jpg, bmp, gif) with compressed file size less than 1M</p><br>
                <h4><u> Command List </u></h4>
                <h5><strong> Search </strong></h5>
									<p> Function: to display first 3 result from google search </p>
									<p> Command: search “keyword” </p>
									<p><i> Example: search weather </i></p><br>									
								<h5><strong>	Translate </strong> </h5>
									<h5><u> For evaluation user </u> </h5>
									<p> translate any-text from source-language into target-language </p>
									<p> translate any-text into target-language </p>
									<p> translate any-text in target-language </p>
									<h5><u> For paid user </u></h5>
									<p> Check default target language: show lang
									<p> Set default target language: set default language to target-language </p>
									<p> Translate any-text </p>
									<p><i> Example: translate hi in japanese </i></p><br>
								<h5><strong> Namecard </strong></h5>
									<p> Send a namecard image and issue the command “namecard” or “card” </p>
									<p> A contact record in .vcard format will be received </p>
									<p> .vcard can be forward to other user or store in local phone contact </p>
          	

              </div>


            </div>

    <!-- </div> -->
  <!-- </div> -->
</div>
