.login-box {
/*    position: absolute;*/
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    height:400px;
/*    margin: inherit;*/
    width: 50%;
/*    border: 3px solid green;*/
/*    padding: 10px;*/
    text-align: center;
}

.login-page {
/*    position: absolute;*/
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    height:auto;
/*    margin: inherit;*/
    width: auto;
/*    border: 3px solid green;*/
/*    padding: 10px;*/
    text-align: center;
}
