<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 100%">
  <!-- <div class="wrapper"> -->
    <!-- <div class="container"> -->
      <div class="row no-padding" id="page-content">
          <div class="col-xs-6 no-padding">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Customer Requests</h3>

                <div class="box-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-header -->
              <div #scrollTable class="box-body no-padding">
                <table class="table">
                  <thead>
                  <tr>
           <!--          <th>ID</th> -->
                    <th>Customer</th>
                    <th>Time</th>
                    <th>Status</th>
                    <!-- <th>Reason</th> -->
                  </tr>
                </thead>

                <!-- <div #scrollMe class="table-body"> -->
                <tbody>
                  <tr *ngFor="let c of chats">
                    <!-- <td>183</td> -->
                    <td>{{ c.nickname }}</td>
                    <td>{{c.updated_at | date: 'medium'}}</td>
                    <td><span class="label label-success">Done</span></td>
                    <!-- <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
                  </tr>
                  </tbody>
                  <!-- </div> -->
<!--                   <tr>
                    <td>219</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-warning">Working</span></td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  </tr>
                  <tr>
                    <td>175</td>
                    <td>Mike Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-danger">Pending</span></td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  </tr> -->
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

      <!-- /.row -->
          </div>

          <div class="col-xs-6 no-padding">
        <!-- <div class="panel panel-primary" *ngIf="joinned; else joinroom"> -->
              <div class="box" *ngIf="joinned; else joinroom">
                  <div class="box-header with-border">
                    <!-- <div class="panel-heading"> -->
                      <span class="glyphicon glyphicon-comment"></span> 
                      {{ msgData.room }}
                      <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default btn-xs" (click)="logout()">
                              Logout
                          </button>
                      </div>
                  </div>
                  <div #scrollMe class="panel-body">
                      <ul class="chat">
                          <li *ngFor="let c of chats">
                            <div class="left clearfix" *ngIf="c.nickname===msgData.nickname; else rightchat">
                              <span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle" />
                              </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <strong class="primary-font">{{ c.nickname }}</strong> <small class="pull-right text-muted">
                                          <span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                                  </div>
                                  <p>{{ c.message }}</p>
                              </div>
                            </div>
                            <ng-template #rightchat>
                              <div class="right clearfix">
                                <span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                                        <strong class="pull-right primary-font">{{ c.nickname }}</strong>
                                    </div>
                                    <p>{{ c.message }}</p>
                                </div>
                              </div>
                            </ng-template>
                          </li>
                      </ul>
                  </div>
                  <div class="panel-footer">
                    <form (ngSubmit)="sendMessage()" #msgForm="ngForm">
                      <div class="input-group">
                          <input type="hidden" [(ngModel)]="msgData.room" name="room" />
                          <input type="hidden" [(ngModel)]="msgData.nickname" name="nickname" />
                          <input id="btn-input" type="text" [(ngModel)]="msgData.message" name="message" class="form-control input-sm" placeholder="Type your message here..." required="" />
                          <span class="input-group-btn">
                              <button class="btn btn-warning btn-sm" id="btn-chat" [disabled]="!msgForm.form.valid">
                                  Send</button>
                          </span>
                      </div>
                    </form>
                  </div>
              </div>
              <ng-template #joinroom>
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <h2>Select Chat Room</h2>
                    <form (ngSubmit)="joinRoom()" #joinForm="ngForm">
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="newUser.nickname" name="nickname" placeholder="Nickname" required="" />
                      </div>
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="newUser.room" name="room" required="">
                          <option>Select Room</option>
                          <option value="room1">room1</option>
                          <!-- <option value="room2">room2</option> -->
                          <!-- <option value="Python">Python</option> -->
                        </select>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success" [disabled]="!joinForm.form.valid">Join</button>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
          </div>

      <!-- </div> -->
    </div>
  <!-- </div> -->
</div>
