<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper" style="min-height: 90%"> -->
  <!-- <div class="wrapper"> -->
    <!-- <div class="container"> -->
      <!-- <div class="row no-padding" id="chat-page"> -->

        <!-- place request table here -->

          <div class="col-xs-6 no-padding" >
        <!-- <div class="panel panel-primary" *ngIf="joinned; else joinroom"> -->
              <div class="box box-primary direct-chat direct-chat-primary" *ngIf="joinned; else joinroom">
              <!-- <div class="box" *ngIf="joinned; else joinroom"> -->
                  <!-- /.box-header -->
                  <div class="box-header with-border">
                    <!-- <div class="panel-heading"> -->
                      <!-- <span class="glyphicon glyphicon-comment"></span>  -->
                      {{ msgData.room }}
                      
                      <div class="btn-group pull-right no-padding"> 
                        <form (ngSubmit)="logout()">
              
                      <div class="form-group btn-group pull-right">
                        <input type="hidden" class="form-control" [(ngModel)]="newUser.db_id" name="db_id"  >
                      </div>
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" >Disconnect</button>
                      </div>
                    </form>
                  </div>

                      <!-- pass parameters to selecPhoto components? -->
                      <div class="btn-group pull-right" >
                        <button type="button" class="btn btn-warning btn-xs" id="btn-photo" (click)="selectPhoto()">
                          <!-- <button type="button" class="btn btn-warning btn-xs" id="btn-photo" (click)="selectPhoto()" >
                           --> <span class = "glyphicon glyphicon-paperclip"></span>
                         </button>
                       </div>
                  </div>
                  <!-- /.box-body -->
                  <div #scrollMe class="box-body" *ngIf="notSelected; else selectphoto">
                    <!-- <ul class="chat"> -->
                      <!-- <li *ngFor="let c of chats"> -->
                    <div *ngFor="let c of chats">
                        <!-- <ul class="chat">
                            <li *ngFor="let c of chats"> -->
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                              <div class="direct-chat-info clearfix" *ngIf="c.nickname!==msgData.nickname; else rightchat">
                                <!-- <span class="direct-chat-name pull-left">{{ c.nickname }}</span> -->
                                <!-- <span class="direct-chat-timestamp pull-left">{{ c.updated_at | date: 'medium' }}</span> -->                               
                                <!-- /.direct-chat-img -->
                                <img class="direct-chat-img" src="../assets/dist/img/user3-128x128.jpg" alt="Message User Image">
                               
                                <div class="direct-chat-text pull-left"><span class="direct-chat-name pull-left">{{ c.nickname }}</span><br>
                                <div  *ngIf="c.file_path !== undefine" >
                                <div class="pull-left">
                                  <img id="displayGetImage" [src]="c.image">
                                </div><br>
                                </div>

                                <div class="pull-left">{{ c.message }}</div><br>
                                <small class="direct-chat-timestamp pull-right">{{ c.updated_at | date: 'medium' }}</small>
                                </div>
                              </div>
                            </div>
                            <!-- </div> -->
                              <ng-template #rightchat>
                                <div class="direct-chat-msg right">
                                  <div class="direct-chat-info clearfix">
                                   <!--  <span class="direct-chat-name pull-right">{{ c.nickname }}</span>
                                    <span class="direct-chat-timestamp pull-right">{{ c.updated_at | date: 'medium' }}</span>
                                  </div> -->
                                  
                                  <img class="direct-chat-img" src="../assets/dist/img/user1-128x128.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                  <div class="direct-chat-text pull-right">
                                    <span class="direct-chat-name pull-right">{{ c.nickname }}</span><br>
                                    <div  *ngIf="c.filename!==undefine" >
                                     <!--  <input type="hidden" [(ngModel)]="{{c.image}}" name="imageObject" /> -->
                                      <!-- <div [ImageObject]= "c.filename"> -->
                                      <!-- <button class="pull-right" id="displayImage"  (click) = "getImage(c.image)">{{c.filename}}</button><br> -->
                                      <div class="pull-right">
                                      <img id="displayImage" [src]="c.image">
                                      </div><br>
                                      
                                    </div>

                                    <div class="pull-right">{{ c.message }}
                                    </div><br>
                                    <small class="direct-chat-timestamp pull-left">{{ c.updated_at | date: 'medium' }}</small>
                                  </div>
                                  <!-- <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
                                  </span> -->
                                  <!-- <div class="chat-body clearfix">
                                      <div class="header">
                                          <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                                          <strong class="pull-right primary-font">{{ c.nickname }}</strong>
                                      </div>
                                      <p>{{ c.message }}</p>
                                  </div> -->
                                  </div>
                                </div>
                              </ng-template>
                            </div>
                          <!-- </li> -->
                        <!-- </ul> -->
                  </div>
                  <div class="box-footer" *ngIf="notSelected">
                    <form (ngSubmit)="sendMessage()" #msgForm="ngForm">
                      <div class="input-group">
                        <input type="hidden" [(ngModel)]="msgData.phone_numebr" name="phone_numebr" />
                        <input type="hidden" [(ngModel)]="msgData.socket_id" name="socket_id" />
                        <input type="hidden" [(ngModel)]="msgData.room" name="room" />
                        <input type="hidden" [(ngModel)]="msgData.nickname" name="nickname" />

                          <input id="btn-input" type="text" [(ngModel)]="msgData.message" name="message" class="form-control input-sm" placeholder="Type your message here..." required="" />
                          <span class="input-group-btn">
                              <button class="btn btn-warning btn-sm" id="btn-chat" [disabled]="!msgForm.form.valid">
                                  Send</button>
                          </span>
                      </div>
                    </form>
                  </div>
              </div>
              <ng-template #joinroom>
                <div class="box box-primary direct-chat direct-chat-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Select Customer</h3>
                  </div>
                  <div class="box-body">
                    <!-- <h2>Select Customer</h2> -->
                    <form (ngSubmit)="joinRoom()" #joinForm="ngForm">
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="newUser.nickname" placeholder="Input user name" name="nickname" required="" >
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="newUser.room" name="room" placeholder="Input phone number"required="">
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" [(ngModel)]="newUser.socket_id" name="socket_id" >
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" [(ngModel)]="newUser.db_id" name="db_id"  >
                      </div>
                      <div class="form-group">
                        <input type="hidden" class="form-control" [(ngModel)]="newUser.request_status" name="request_status"  >
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success" [disabled]="!joinForm.form.valid">Join</button>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>

              <ng-template #selectphoto>
                  <div class="box-body">
                    <!-- <h3 class="box-title"> Select Photo </h3> -->
                     <button type="button" class="btn btn-box-tool pull-right" data-widget="remove" (click)="CancelPhoto()"><i class="fa fa-times"></i>
                    </button>
                    <form (ngSubmit)="SendPhoto()" #joinForm="ngForm">
                      
                      <div class="form-group">
                        <input type="hidden" class="form-control" [(ngModel)]="newUser.nickname" placeholder="Input user name" name="nickname" required="" >
                      </div>

                      <div class="form-group">
                        <input type="hidden" class="form-control" [(ngModel)]="newUser.room" name="room" placeholder="Input phone number"required="" >
                      </div>

                      <div class="form-group">
                        <input type="hidden" class="form-control" [(ngModel)]="newUser.socket_id" name="socket_id" required="" >
                      </div>

                      <div class="form-group">
                        <img #image [src]="url" height="300px"><br/>
                        <input style = "display: none" type="file" class="form-control" (change)="onFileSelected($event)" #fileInput [(ngModel)]="filename" name="filename" required="">
                        <button type="button" class="btn btn-success btn-sm" (click)="fileInput.click()">Select Photo</button>
                      </div>

                      <div class="form-group">
                        <input id="btn-input" type="text" [(ngModel)]="msgData.message" name="message" class="form-control input-sm" placeholder="Type your message here..." >
                         <span class="input-group-btn">
                        <button type="submit" class="btn btn-success btn-sm" [disabled]="!joinForm.form.valid">Send</button>
                      </span>
                      </div>
                    </form>
           
                </div>
              </ng-template>
          </div>

      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<!-- <script src="./browser_build/bson.js"></script>
 
<script>
  function getImage() {
    // Get the Long type
    var Long = BSON.Long;
    // Create a bson parser instance
    var bson = new BSON();
 
    // Serialize document
    var doc = { long: Long.fromNumber(100) }
 
    // Serialize a document
    var data = bson.serialize(doc)
    // De serialize it again
    var doc2 = bson.deserialize(data)
  }
</script>  -->