<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper" style="min-height: 90%"> -->
  <!-- <div class="wrapper"> -->
    <!-- <div class="container"> -->
      <!-- <div class="row no-padding" id="chat-page"> -->

        <!-- place request table here -->

          <div class="col-xs-6 no-padding" >
        <!-- <div class="panel panel-primary" *ngIf="joinned; else joinroom"> -->
              <div class="box box-primary direct-chat direct-chat-primary" *ngIf="joinned; else joinroom">
              <!-- <div class="box" *ngIf="joinned; else joinroom"> -->
                  <!-- /.box-header -->
                  <div class="box-header with-border">
                    <!-- <div class="panel-heading"> -->
                      <span class="glyphicon glyphicon-comment"></span> 
                      {{ msgData.room }}
                      <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default btn-xs" (click)="logout()">
                              Disconnect
                          </button>
                      </div>
                  </div>
                  <!-- /.box-body -->
                  <div #scrollMe class="box-body">
                    <!-- <ul class="chat"> -->
                      <!-- <li *ngFor="let c of chats"> -->
                    <div *ngFor="let c of chats">

                        <!-- <ul class="chat">
                            <li *ngFor="let c of chats"> -->
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                              <div class="direct-chat-info clearfix" *ngIf="c.nickname!==msgData.nickname; else rightchat">
                                <!-- <span class="direct-chat-name pull-left">{{ c.nickname }}</span> -->
                                <!-- <span class="direct-chat-timestamp pull-left">{{ c.updated_at | date: 'medium' }}</span> -->
                             
                                <!-- /.direct-chat-img -->
                                <img class="direct-chat-img" src="../assets/dist/img/user3-128x128.jpg" alt="Message User Image">
                                <div class="direct-chat-text pull-left"><span class="direct-chat-name pull-left">{{ c.nickname }}</span><br>{{ c.message }}<br>
                                <small class="direct-chat-timestamp pull-right">{{ c.updated_at | date: 'medium' }}</small>
                                </div>
                              </div>
                                <!-- <span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span> -->
                          <!--       <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{ c.nickname }}</strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                                    </div>
                                    <p>{{ c.message }}</p>
                                </div> -->
                            </div>
                            <!-- </div> -->
                              <ng-template #rightchat>
                                <div class="direct-chat-msg right">
                                  <div class="direct-chat-info clearfix">
                                   <!--  <span class="direct-chat-name pull-right">{{ c.nickname }}</span>
                                    <span class="direct-chat-timestamp pull-right">{{ c.updated_at | date: 'medium' }}</span>
                                  </div> -->
                                  
                                  <img class="direct-chat-img" src="../assets/dist/img/user1-128x128.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                  <div class="direct-chat-text pull-right">
                                  <span class="direct-chat-name pull-right">{{ c.nickname }}</span><br>
                                  <div class="pull-right">{{ c.message }}
                                  </div><br>
                                  <small class="direct-chat-timestamp pull-left">{{ c.updated_at | date: 'medium' }}</small>
                                  </div>
                                  <!-- <span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
                                  </span> -->
                                  <!-- <div class="chat-body clearfix">
                                      <div class="header">
                                          <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                                          <strong class="pull-right primary-font">{{ c.nickname }}</strong>
                                      </div>
                                      <p>{{ c.message }}</p>
                                  </div> -->
                                  </div>
                                </div>
                              </ng-template>
                            </div>
                          <!-- </li> -->
                        <!-- </ul> -->
                  </div>
                  <div class="box-footer">
                    <form (ngSubmit)="sendMessage()" #msgForm="ngForm">
                      <div class="input-group">
                          <input type="hidden" [(ngModel)]="msgData.room" name="room" />
                          <input type="hidden" [(ngModel)]="msgData.nickname" name="nickname" />
                          <input id="btn-input" type="text" [(ngModel)]="msgData.message" name="message" class="form-control input-sm" placeholder="Type your message here..." required="" />
                          <span class="input-group-btn">
                              <button class="btn btn-warning btn-sm" id="btn-chat" [disabled]="!msgForm.form.valid">
                                  Send</button>
                          </span>
                      </div>
                    </form>
                  </div>
              </div>
              <ng-template #joinroom>
                <div class="box box-primary direct-chat direct-chat-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Select Customer</h3>
                  </div>
                  <div class="box-body">
                    <!-- <h2>Select Customer</h2> -->
                    <form (ngSubmit)="joinRoom()" #joinForm="ngForm">
                      <div class="form-group">
                        
                        <!-- <input type="text" class="form-control" [(ngModel)]="newUser.nickname" name="nickname" placeholder="Nickname" required="" /> -->
                      <input type="text" class="form-control" [(ngModel)]="newUser.nickname" name="nickname" required="" />

                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="newUser.room" name="room" placeholder="phone number"required="">
                        <!-- <select class="form-control" [(ngModel)]="newUser.room" name="room" required="">
                          <option>Select Room</option>
                          <option value="room1">room1</option>
                         -->  <!-- <option value="room2">room2</option> -->
                          <!-- <option value="Python">Python</option> -->
                        <!-- </select> -->
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success" [disabled]="!joinForm.form.valid">Join</button>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
          </div>

      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
