  <div class="hold-transition fixed login-pages">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    <!-- <div class= "content"> -->
        <h1 class="headline text-yellow" align="center">404</h1>
      <div class="error-page">
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    <!-- </div> -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 

