<!-- <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script> -->

<!-- <head> -->
<!-- <link rel="stylesheet" href="assets/dist/css/AdminLTE.min.css"> -->
<!-- </head> -->

<!-- <body class="hold-transition skin-blue sidebar-mini" *ngIf="authService.isAuthenticated(); else loginPage">	
 -->

<!-- <div class="navbar navbar-default">
  <div class="container">
    <div id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!authService.isLoggedIn()"><a routerLink="/api/login">Sign in</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/api/profile">{{ authService.getUserDetails()?.name }}</a></li>
        <li *ngIf="authService.isLoggedIn()"><a (click)="authService.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->

<app-appheader *ngIf="authService.isLoggedIn()"></app-appheader>
<app-appmenu *ngIf="authService.isLoggedIn()"></app-appmenu>
<router-outlet ></router-outlet>
<app-appfooter *ngIf="authService.isLoggedIn()"></app-appfooter>
<!-- <app-appsettings></app-appsettings> -->
<!-- </body> -->

<!-- <ng-template #loginPage>

<body class="hold-transition skin-blue fixed login-page ">
<router-outlet></router-outlet>	
</body>

</ng-template> -->

<!--<script src="assets/dist/js/adminlte.min.js"></script>-->

