          <div class="col-xs-6 no-padding" >
            <div class="box box-primary direct-chat direct-chat-primary" *ngIf="viewResult; else viewDetail">
              <!-- <div class="box" *ngIf="joinned; else joinroom"> -->
                  <!-- /.box-header -->
                  <div class="box-header with-border" *ngIf="viewResultPage; else addJobHeader">
                    <!-- <div class="panel-heading"> -->
                      <!-- <span class="glyphicon glyphicon-comment"></span>  -->
                      {{ broadcastDetail.jobID }}

                    <div class="btn-group pull-right no-padding"> 
                      <form (ngSubmit)="exit()">
              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Exit </button>
                      </div>
                  	  </form>
                  	</div>
                  </div>
              <!-- /.box-body -->
              <div class="box-body" *ngIf="viewResultPage; else addBroadcastPage">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Phone Number</th>
                    <th>Status</th>
                  </tr>
	                </thead>
	                <tbody *ngIf="showResultDetail" id="table-body">
	                  <tr *ngFor="let result of broadcast[0].Results">
	                  <td>{{result.Phone}}</td>
	                  <td>{{result.Result}}</td>
	                  </tr>
	                </tbody>
                </table>
              </div>                  
            </div>

              <ng-template #viewDetail>
                <div class="box box-primary direct-chat direct-chat-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Broadcast Detail</h3>
                  
                    <div class="btn-group pull-right no-padding"> 
                      <form (ngSubmit)="createBroadcast()">              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Add Job </button>
                      </div>
                      </form>
                  	</div> 
                  </div>               
                  <div class="box-body">
                  	<form (ngSubmit)="viewJobResult()">     
							        <div class="form-horizontal"  *ngFor="let broadcast of broadcast">
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Job ID</label>
							            <p class="form-control-static">{{ broadcast.jobID }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Prepend Contact Name</label>
							            <div [ngSwitch] = "broadcast.prependContactName">
								            <p *ngSwitchCase="Y" class="form-control-static">Yes</p>
								            <p *ngSwitchCase="" class="form-control-static">No</p>
							          	</div>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-3 control-label">CSV file </label>
							            <p class="form-control-static">{{ broadcast.contactListCsvName }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Group Name </label>
							            <p class="form-control-static">{{ broadcast.groupName }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Sender Phone Number </label>
							            <p class="form-control-static">{{ broadcast.senderPhoneNumber }}</p>
							          </div>							          
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Message</label>
							            <textarea id="message-box" readonly class="form-control-static">{{ broadcast.message }}</textarea>
							          </div>
							          <div class="form-group" *ngIf ="showImage">
							            <label class="col-sm-3 control-label">Select image</label>
		                      <img id="displayImage" class="form-control-static" [src]="broadcast.imagefile" ><br/>
							          </div>							         
				                    
				                <div id = viewResult-button class="form-group" > 
				                  <div class="form-group center">
				                    <label class="col-sm-5 control-label"></label>
				                    <button  *ngIf="showResultDetail" type="submit" class="btn btn-primary btn" > Results </button>
				                  </div>				                       
				                </div> 

							        </div>
										</form>
                  </div>
                </div>
              </ng-template>

              <ng-template #addBroadcastPage>
		              <div class="box-body">
					        	<form (ngSubmit)="saveBroadcastDetail()" #addBroadcastForm="ngForm"> 
						        	<div class="form-horizontal" >
<!-- 							          <div class="form-group">
							            <label class="col-sm-4 control-label">Job ID</label>
							            <input type="text" class="form-control-static" [(ngModel)]="newBroadcast.jobID" placeholder="Required" name="jobID" >
							          </div> -->
							          <div class="form-group">
							            <label class="col-sm-4 control-label">Prepend Contact Name</label>							
							            <div class="input-group form-control-static">
										        <input id = "radio-button" type="radio" [(ngModel)]="newBroadcast.prependContactName" name="prepend" class="minimal" value="Y">
										        Yes
										        <input id = "radio-button" type="radio" [(ngModel)]="newBroadcast.prependContactName" name="prepend" class="minimal" value="">
										        No<br>
									        </div>
												</div>
							          <div class="form-group">
							            <label class="col-sm-4 control-label">CSV file</label>
							            <input type="file" class="form-control-static" (change)="onCSVSelected($event)" placeholder="Required" #fileInput name="csvFile" required="" >
							          </div>
							          <div class="form-group">
							            <label class="col-sm-4 control-label">Group Name</label>
							            <input type="text" class="form-control-static" [(ngModel)]="newBroadcast.groupName" name = "newBroadcast.groupName" placeholder="Optional" >
							          </div>
							          <div class="form-group">
							            <label class="col-sm-4 control-label">Sender Phone Number</label>
							            <input type="text" class="form-control-static" [(ngModel)]="newBroadcast.senderPhoneNumber" name="newBroadcast.senderPhoneNumber"placeholder="Optional" >
							          </div>							          							          												
							          <div class="form-group">
							            <label class="col-sm-4 control-label">Message</label>
							            <textarea id="message-box" type="text" class="form-control-static" [(ngModel)]="newBroadcast.message" placeholder="Required" name="newBroadcast.message" required=""  >						            	
							            </textarea>							           							            
							          </div>
							          <div class="form-group" >
							          	<label class="col-sm-4 control-label">Emoji</label>
							          	<div class="input-group form-control-static">
							          		<div id="emojiBox" class=" emojiBox" (click)="popUpEmojiBox()">
							          		</div>
 														<emoji-mart *ngIf="popUpEmoji" (emojiClick)="addEmoji($event)" showPreview="false"></emoji-mart> 														
 													</div>
 												</div>
							          <!-- <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart> -->
												<!-- <emoji-mart set="emojione"></emoji-mart> -->
												<!-- <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart> -->
												<!-- <emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart> -->
												<!-- <emoji-mart [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"></emoji-mart> -->
							          						          
	                      <div class="form-group">
							            <label class="col-sm-4 control-label">Select Image	          
	                        </label>
              						<button type="button" class="btn btn-default btn-sm " (click)="fileInput.click()">Browse Image</button>
              						<input style = "display: none" type="file" class="form-control-static" (change)="onImageFileSelected($event)" placeholder="Optional" #fileInput name="filename" >							                                   
	                        <!-- <img id="addImage" [src]="url" width="300px"><br/>	                         -->
	                      </div>	                      
	                      <div class="form-group">
							            <label class="col-sm-4 control-label"></label>
	                        <img id="addImage" [src]="url" width="300px"><br/>	                        
	                      </div>
		                    
			                  <div id = edit-button class="form-group"> 
			                    <div class="form-group center">
			                      <label class="col-sm-4 control-label"></label>
			                      <button  type="submit" class="btn btn-success btn" [disabled]="!addBroadcastForm.form.valid"> Create </button>
			                    </div>                        
			                  </div> 
						        	</div>
						        </form>
		              </div>  
              </ng-template>

              <ng-template #addJobHeader>
              	<div class="box-header with-border"> 
              		<h3 class="box-title">Create Job</h3>

                    <div class="btn-group pull-right no-padding"> 
                      <form (ngSubmit)="exit()">
              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Cancel </button>
                      </div>
                  	  </form>
                  	</div>
                  </div>
              </ng-template>

          </div>