          <div class="col-xs-6 no-padding" >
            <div class="box box-primary direct-chat direct-chat-primary" *ngIf="editDetail; else viewDetail">
              <!-- <div class="box" *ngIf="joinned; else joinroom"> -->
                  <!-- /.box-header -->
                  <div class="box-header with-border" *ngIf="editUserPage; else addUserHeader">
                    <!-- <div class="panel-heading"> -->
                      <!-- <span class="glyphicon glyphicon-comment"></span>  -->
                      {{ broadcastDetail.jobID }}

                    <div class="btn-group pull-right no-padding"> 
                      <form (ngSubmit)="exit()">
              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Cancel </button>
                      </div>
                  	  </form>
                  	</div>
                  </div>
              <!-- /.box-body -->
              <div class="box-body" *ngIf="editBroadcastPage; else addBroadcastPage">
<!-- 			        	<form (ngSubmit)="updateBroadcastDetail()" #updateBroadcastForm="ngForm"> 
				        	<div class="form-horizontal" >
					          <div class="form-group">
					            <label class="col-sm-5 control-label">Job ID</label>
					            <input type="text" class="form-control-static" [(ngModel)]="broadcastDetail.jobID" placeholder="Required" name="broadcastDetail.jobID" required="" [disabled]="true" >
					          </div>
					          <div class="form-group">
					            <label class="col-sm-5 control-label">Message</label>
					            <input type="text" class="form-control-static" [(ngModel)]="broadcastDetail.message" placeholder="Required" name="broadcastDetail.message" required="" >
					          </div>
					          <div class="form-group">
					            <label class="col-sm-5 control-label">CSV file </label>
					            <input type="text" class="form-control-static" [(ngModel)]="broadcastDetail.contactListCsvName" placeholder="Optional" name="broadcastDetail.contactListCsvName" >
					          </div>
					          <div class="form-group" >
					            <label class="col-sm-5 control-label">Select image</label>
                      <img id="displayImage" [src]="url" height="200px"><br/>
                      <input style = "display: none" type="file" class="form-control-static" (change)="onImageFileSelected($event)" #fileInput name="filename" >
                      <button type="button" class="btn btn-success btn-sm" (click)="fileInput.click()">Browse Image</button>					            
					          </div>
                    
	                  <div id = edit-button class="form-group">
	                    <div class="form-group center">
	                      <label class="col-sm-5 control-label"></label>
	                      <button  type="submit" class="btn btn-warning btn" [disabled]="!updateBroadcastForm.form.valid"> Update </button>
	                    </div>                        
	                  </div> 
				        	</div>
				        </form>

	              <div id = delete-button class="form-group">
	                <div class="form-group center">
	                  <label class="col-sm-5 control-label"></label>
	                  <button  type="submit" class="btn btn-danger btn" (click)="deleteUser()"> Delete User </button>
	                </div>                        
	              </div>  -->

              </div>                  
            </div>

              <ng-template #viewDetail>
                <div class="box box-primary direct-chat direct-chat-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Broadcast Detail</h3>
                  
                    <div class="btn-group pull-right no-padding"> 
                      <form (ngSubmit)="createBroadcast()">              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Add Job </button>
                      </div>
                      </form>
                  	</div> 
                  </div>               
                  <div class="box-body">
                  	<form (ngSubmit)="editBroadcastDetail()">     
							        <div class="form-horizontal"  *ngFor="let broadcast of broadcast">
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Job ID</label>
							            <p class="form-control-static">{{ broadcast.jobID }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Prepend Contact Name</label>
							            <div [ngSwitch] = "broadcast.prependContactName">
								            <p *ngSwitchCase="Y" class="form-control-static">Yes</p>
								            <p *ngSwitchCase="" class="form-control-static">No</p>
							          	</div>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-3 control-label">CSV file </label>
							            <p class="form-control-static">{{ broadcast.contactListCsvName }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-3 control-label">Message</label>
							            <textarea id="message-box" readonly class="form-control-static">{{ broadcast.message }}</textarea>
							          </div>
							          <div class="form-group" *ngIf ="showImage">
							            <label class="col-sm-3 control-label">Select image</label>
		                      <img id="displayImage" class="form-control-static" [src]="broadcast.imagefile" ><br/>
		                      				            
							            <!-- <input type="text" class="form-control-static" [(ngModel)]="broadcastDetail.last_name" placeholder="Optional" name="broadcastDetail.last_name" > -->
							          </div>							          
<!-- 							          <div class="form-group">
							            <label class="col-sm-5 control-label">Nickname</label>
							            <p class="form-control-static">{{ broadcast.nickname }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-5 control-label">Servcies</label>
							            <p class="form-control-static">{{ user.service }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-5 control-label">Default Spoken Language</label>
							            <p class="form-control-static">{{ user.default_spoken_lang }}</p>
							          </div>
							          <div class="form-group">
							            <label class="col-sm-5 control-label">Default Text Language</label>
							            <p class="form-control-static">{{ user.default_text_lang }}</p>
							          </div> -->
				                    
<!-- 				                <div id = update-button class="form-group"> 
				                  <div class="form-group center">
				                    <label class="col-sm-5 control-label"></label>
				                    <button  type="submit" class="btn btn-primary btn" > Edit </button>
				                  </div>				                       
				                </div> --> 
							        </div>
										</form>
                  </div>
                </div>
              </ng-template>

              <ng-template #addBroadcastPage>
		              <div class="box-body">
					        	<form (ngSubmit)="saveBroadcastDetail()" #addBroadcastForm="ngForm"> 
						        	<div class="form-horizontal" >
<!-- 							          <div class="form-group">
							            <label class="col-sm-4 control-label">Job ID</label>
							            <input type="text" class="form-control-static" [(ngModel)]="newBroadcast.jobID" placeholder="Required" name="jobID" >
							          </div> -->
							          <div class="form-group">
							            <label class="col-sm-4 control-label">Prepend Contact Name</label>							
							            <div class="input-group form-control-static">
										        <input id = "radio-button" type="radio" [(ngModel)]="newBroadcast.prependContactName" name="prepend" class="minimal" value="Y">
										        Yes
										        <input id = "radio-button" type="radio" [(ngModel)]="newBroadcast.prependContactName" name="prepend" class="minimal" value="">
										        No<br>
									        </div>
												</div>
							          <div class="form-group">
							            <label class="col-sm-4 control-label">CSV file</label>
							            <input type="file" class="form-control-static" (change)="onCSVSelected($event)" placeholder="Required" #fileInput name="csvFile" required="" >
							          </div>												
							          <div class="form-group">
							            <label class="col-sm-4 control-label">Message</label>
							            <textarea id="message-box" type="text" class="form-control-static" [(ngModel)]="newBroadcast.message" placeholder="Required" name="newBroadcast.message" required="" ></textarea>
							            
							          </div>
							            <!-- <input type="text" class="form-control-static" [(ngModel)]="newBroadcast.prependContactName" placeholder="Optional" name="last_name" > -->
							          						          
	                      <div class="form-group">
							            <label class="col-sm-4 control-label">Select Image	          
	                        </label>
              						<button type="button" class="btn btn-default btn-sm " (click)="fileInput.click()">Browse Image</button>
              						<input style = "display: none" type="file" class="form-control-static" (change)="onImageFileSelected($event)" placeholder="Optional" #fileInput name="filename" >							                                   
	                        <!-- <img id="addImage" [src]="url" width="300px"><br/>	                         -->
	                      </div>	                      
	                      <div class="form-group">
							            <label class="col-sm-4 control-label"></label>
	                        <img id="addImage" [src]="url" width="300px"><br/>	                        
	                      </div>
							          <!-- <div class="form-group">
							            <label class="col-sm-5 control-label">Nickname</label>
							            
							            <input type="text" class="form-control-static" [(ngModel)]="newUser.nickname" placeholder="Required" name="nickname" >
							          </div>
							          <div class="form-group">
							            <label class="col-sm-5 control-label">Servcies</label>
							            
							            <input type="text" class="form-control-static" [(ngModel)]="newUser.service" placeholder="translate, namecard" name="service" >
							          </div>
							          <div class="form-group">
							            <label class="col-sm-5 control-label">Default Spoken Language</label>
							            
							            <input type="text" class="form-control-static" [(ngModel)]="newUser.default_spoken_lang" placeholder="Required for translate" name="default_spoken_lang" >
							          </div>
							          <div class="form-group">
							            <label class="col-sm-5 control-label">Default Text Language</label>
							            
							            <input type="text" class="form-control-static" [(ngModel)]="newUser.default_text_lang" placeholder="Required for translate" name="default_text_lang" >
							          </div> -->
		                    
			                  <div id = edit-button class="form-group"> 
			                                    
			                    <div class="form-group center">
			                      <label class="col-sm-4 control-label"></label>
			                      <button  type="submit" class="btn btn-success btn" [disabled]="!addBroadcastForm.form.valid"> Create </button>
			                    </div>                        
			                  </div> 
						        	</div>
						        </form>
		              </div>  
              </ng-template>

              <ng-template #addUserHeader>
              	<div class="box-header with-border"> 
              		<h3 class="box-title">Create Job</h3>

                    <div class="btn-group pull-right no-padding"> 
                      <form (ngSubmit)="exit()">
              
                      <div class="form-group btn-group pull-right no-margin ">
                        <button type="submit" class="btn btn-default btn-xs" > Cancel </button>
                      </div>
                  	  </form>
                  	</div>
                  </div>
              </ng-template>

          </div>