/*.panel .slidedown .glyphicon, .chat .glyphicon*/
.box .panel .slidedown .glyphicon, .chat .glyphicon
{
    /*margin-right: 5px;*/
    margin-bottom: 0;
    margin-right: 0;
    border-collapse: collapse;

}

.box-body
{
    overflow-y: scroll;
    /*overflow: auto;*/
    /*display: block;*/
    /*height: 250px;*/
   height: 80vh;
   /*min-height: 100%;*/
}

.box.box-primary.direct-chat.direct-chat-primary
{
    margin-bottom: 0;
    /*height: 250px;*/
   /*height: 75vh;*/

}

.btn.btn-xs.btn-timeout
{
    background-color: #CD5C5C;
    color: #FFFFFF;
}

.btn.btn-xs.btn-idle
{
    background-color: #696969;
    color: #FFFFFF;
}

.table
{   
    border-collapse:collapse;
    table-layout:fixed;
    width: 100%;
    min-width: 200px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*#request-table*/
/*.ui-datatable-data> tr> td
{
    max-width: 150px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; 
    
}*/

#request-page, #chat-page
{
    margin-left: 0;
    margin-right: 0;
    /*width: 100%;*/
    min-height: 100%;
}

#content-wrapper
{
    height: 100%;
    overflow-y: hidden;
    margin-bottom: 0;
}       

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
