<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- <div class="wrapper"> -->
    <!-- <div class="container"> -->
      <div class="row no-padding" id="request-page" >
          <div class="col-xs-6 no-padding" >
            <div class="box box-primary direct-chat direct-chat-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Customer Requests</h3>
                <div class="box-tools">
<!--                   <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div> -->
                </div>
              </div>
              <!-- /.box-header -->
              <div #scrollTable class="box-body no-padding">
                <table class="table" id="request-table">
                  <thead>
                  <tr>
                    <th>Apps</th>
                    <th>Customer</th>
                    <th>Time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of requests">
      				      <td>{{r.type}}</td>
                    <td>{{r.phone_number}}</td>
                    <td>{{r.updated_at | date: 'medium'}}</td>
                    <td>
                    	<div class="pull-right">   	
                  <!--       <div [ngClass] ="setButtonColor()">
                          <a [routerLink]="['/request', {outlets: { chatOutlet: ['chatbox', r.phone_number, r.socket_id, r._id, r.request_status]}}]" routerLinkActive="active" [(ngModel)]="setColor">{{r.request_status}}</a> -->
							            <a [routerLink]="['/chat/request', {outlets: { chatOutlet: ['chatbox', r.phone_number, r.socket_id, r._id, r.request_status, r.type]}}]" routerLinkActive="active" class="btn btn-xs" 
                          [ngClass]="{
                          ' btn-danger ':r.request_status === 'New',
                          ' btn-warning ':r.request_status === 'Working',
                          ' btn-success ':r.request_status === 'Done',
                          ' btn-primary ':r.request_status === 'Quit',
                          ' btn-info ':r.request_status === 'Timeout',
                          ' btn-default ':r.request_status === 'Idle'
                          }">
                          {{r.request_status}}</a>
                        <!-- </div> -->
						          </div>						
                    </td>
                  </tr>
                </tbody>
                  <!-- </div> -->
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
		</div>
      	<!-- /.row -->          

          <!-- Place chat box here -->
          <div class="row no-padding" id="chat-page">
          	<router-outlet name="chatOutlet"></router-outlet>
          </div>

      <!-- </div> -->
    </div>
  <!-- </div> -->
</div>
