<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper" style="min-height: 90%"> -->
  <!-- <div class="wrapper"> -->
    <!-- <div class="container"> -->
      <!-- <div class="row no-padding" id="request-page"> -->
          <div class="col-xs-6 no-padding" id="request-page">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Customer Requests</h3>

                <div class="box-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-header -->
              <div #scrollTable class="box-body no-padding">
                <table class="table">
                  <thead>
                  <tr>
           <!--          <th>ID</th> -->
                    <th>Customer</th>
                    <th>Time</th>
                    <th>Status</th>
                    <!-- <th>Reason</th> -->
                  </tr>
                </thead>

                <!-- <div #scrollMe class="table-body"> -->
                <tbody>
                  <tr *ngFor="let r of requests">
                    <!-- <tr *ngFor="let c of chats"> -->
      				<td>{{r.phone_number }}</td>
                    <td>{{r.updated_at | date: 'medium'}}</td>
                    <!-- <td><span class="label label-warning">Connect</span></td> -->
                    <td>
<!-- routerLink="/chats, {data:r.phone_number}" -->
                 <!--      <button type="button" class="btn btn-default btn-xs" (click)="createRoom({{r.phone_number}})">
                              Connect
                          </button> -->

<!--                         <div class="pull-right">
							<a [routerLink]="['/service', {outlets: {chatOutlet: ['chat']}}]" class="btn btn-default btn-xs">Connect</a> -->

                        
                  			<a routerLink="/chatroom/{{r.phone_number }}" class="btn btn-default btn-xs">Connect</a>
                		</div>
                    </td>
                    <!-- <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td> -->
                  </tr>
                  </tbody>
                  <!-- </div> -->
<!--                   <tr>
                    <td>219</td>
                    <td>Alexander Pierce</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-warning">Working</span></td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  </tr>
                  <tr>
                    <td>175</td>
                    <td>Mike Doe</td>
                    <td>11-7-2014</td>
                    <td><span class="label label-danger">Pending</span></td>
                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  </tr> -->
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

      <!-- /.row -->
          </div>

          <!-- Place chat box here -->

      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
