body {
    background: url("/assets/dist/img/mAI_photo2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #d2d6de;
    min-height: 100vh !important;
    /*overflow: hidden;*/
}